.topicos{
    background:var(--azul_degrade);
    text-align: center;
    padding: 1em 0;

}
.topicos_titulos{
    color: var(--branco);
    font-weight: 300;
}
.topicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos_link{
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    
}
.topicos_item{
    margin: 2em 0.5em;
    
}
.topicos_link:hover{
    color: var(--laranja);
    background-color: var(--branco);
}
@media screen and (min-width:1024px){
    .topicos_titulos{
    font-size: 24px;
    margin: 2em 0;
    }
    .topicos_link{
        font-size: 24px;
    }
    
}
@media screen and (min-width:1728px){
    .topicos{
        padding: 3em 28vw
    }
}


